@import url("https://fonts.googleapis.com/css?family=Montserrat");

body {
  font-family: "Montserrat", sans-serif;
  background: #ffffff;
  margin: 0;
  padding: 0;
}

.resume {
  width: 960px;
  background: #1a237e;
  color: white;
  margin: 20px auto;
  box-shadow: 10px 10px #0e1442;
  display: flex;
}

.resume .base {
  width: 30%;
  padding: 30px 15px;
  background: #283593;
  color: white;
}

.resume .base .profile {
  background: #ffb300;
  padding: 30px 15px;
  text-align: center;
}

.resume .base .profile .photo i {
  font-size: 100px;
  color: #283593;
}

.resume .base .profile .info .name {
  font-size: 1.75em;
  color: #1a237e;
}

.resume .base .profile .info .job {
  font-size: 1.5em;
  color: #283593;
}

.resume .contact div a {
  color: white;
  display: flex;
  align-items: center;
}

.resume .contact div a i {
  margin-right: 10px;
  color: #ffb300;
}

.resume .func {
  width: 70%;
  padding: 30px;
}

.resume .func h3 {
  color: #ffb300;
  margin: 10px 0;
  font-size: 1.25em;
}

.resume .func .work ul li,
.resume .func .edu ul li {
  padding-bottom: 15px;
}

.resume .func .work ul li::before,
.resume .func .edu ul li::before {
  content: "";
  width: 7px;
  height: 7px;
  border: 3px solid white;
  background: #ffb300;
  border-radius: 50%;
  position: absolute;
  left: 3px;
}
